* {
    box-sizing: border-box;
}

body {
    background: #224941;
    color: #fff;
    /* font family */
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0
}